<header id="global-header">

    {% set brandLogo = craft.app.globals.getSetByHandle('brandLogo') %}
    
    <div class="primary-nav--below--lg box-shadow-1 font-size-md">

        <div class="primary-nav__logo">
            <a href="{{ siteUrl }}" title="Home" aria-label="" data-logo="brand">

                {% if brandLogo.logoSvg|length %}
                    {# Render the SVG code directly if it's available #}
                    <div class="svg-logo">{{ brandLogo.logoSvg|raw }}</div>
                
                {% elseif brandLogo.logoImage.one() %}
                    {# Render the uploaded image as the logo #}
                    <img src="{{ brandLogo.logoImage.one().url }}" alt="">
                
                {% else %}
                    {# Render a default SVG as a fallback if neither logo option is set #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="126" height="34" viewBox="0 0 126 34" role="img" aria-label="Default Placeholder Logo">
                        <g>
                            <polygon points="8 25 8 1 0 1 0 33 3 33 8 33 16 33 16 25 8 25"/>
                            <path d="M35,0A17,17,0,1,0,52,17,17,17,0,0,0,35,0Zm0,26a9,9,0,1,1,9-9A9,9,0,0,1,35,26Z"/>
                            <path d="M109,0a17,17,0,1,0,17,17A17,17,0,0,0,109,0Zm0,26a9,9,0,1,1,9-9A9,9,0,0,1,109,26Z"/>
                            <path d="M88.95,16H72v6h7.4824a9,9,0,1,1,0-10H88.25A17.0052,17.0052,0,1,0,89,17C89,16.6624,88.9689,16.3327,88.95,16Z"/>
                        </g>
                    </svg>
                {% endif %}
            </a>
        </div>

        <nav class="primary-nav__menu" id="main-menu" aria-label="Main Menu">
            <ul>
                <li>
                    <button data-toggle="dropdown" aria-controls="menu-1" aria-expanded="false">
                        Aliquet
                    </button>
                    <ul class="nav__dropdown box-shadow-1--lg" id="menu-1">
                        <li><a href="#1">Ornare</a></li>
                        <li><a href="#1">Malesuada</a></li>
                        <li><a href="#1">Viverra</a></li>
                    </ul>
                </li>
                <li><a href="#1">Neque</a></li>
                <li><a href="#1">Aamet</a></li>
                <li><a href="#1">Morbi</a></li>
                <li><a href="#1">Tempor</a></li>
            </ul>
        </nav>
        
        <div class="primary-nav__toggle">
            <button class="mobile-menu-toggle button button--icon-only" aria-label="Menu" data-toggle="collapse" aria-controls="main-menu" aria-expanded="false">
                <span class="icon icon-menu"></span>
            </button>
        </div>

        <form class="primary-nav__search" role="search" id="search" data-focus-first>
            <div class="form-entry" aria-label="Search">
                <div class="form-entry__field">
                    <span class="form-entry__field__input">
                        <span class="icon icon-search"></span>
                        <input type="text" name="global-search" />
                        <button class="button theme-primary">Search</button>
                    </span>
                </div>
            </div>
        </form>

    </div>

</header>
