{% extends "_layout.twig" %}

{% block content %}

    <section class="backdrop backdrop--stack--lg" id="introduction">

        <div class="backdrop__media gradient-mask-bottom">
            <img class="opacity-30" src="https://cavidano.github.io/natura11y/dist/html/examples/peak-performance-page/images/jonny-james-3no88nSvK88-unsplash.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover">

            <div class="container narrow--sm medium--lg text-align-center">

                <h1 class="banner-headline text-shadow margin-bottom-4">
                    Nulla Facilisi Cras Fermentum Odio Feugiat Pretium
                </h1>

                <div class="narrow margin-x-auto">

                    <div class="grid grid--column-2--md gap-3">

                        <a class="button theme-primary box-shadow-1" href="#1">
                            <span class="text">Augue Eget Arcu</span>
                        </a>

                        <a class="button button--outline" href="#1">
                            <span class="text">Mincidunt Augue</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <div class="backdrop__media__credit margin-1">
            <p>
                Photo by <a href="https://unsplash.com/@jonnyjames2" target="_blank">Jonny James</a> on Unsplash
            </p>
        </div>

    </section>

{% endblock %}